.movieConteiner {
    height: 1200px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: path("M -50 250 C 100 420, 250 50, 450 300 C 700 100, 800 400, 1200 200 L 1200 900, 1200 200 C 1200 200, 1370 600, 1850 252 C 2100 600, 2300 0, 3550 500 L 3550 900 C 3200 700, 2900 1100, 2600 800 C 2300 500, 2000 1050, 1700 850 C 1400 1100, 1100 850, 800 1020 C 500 650, 300 1150, -50 850 Z");
}

.player {
    width: 100%;
    height: 100%;
}

.shadowContainer {
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 0px 3px rgb(0, 0, 0)) drop-shadow(0px 0px 6px rgb(0, 0, 0)) drop-shadow(0px 0px 8px rgb(0, 0, 0)) drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.8)) drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.8));
    position: relative;
    top: -100px;
}

.buttonConteiner {
    display: inline-block;
    top: -332px;
    left: 287px;
    position: relative;
}

.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0.521);
    color: #ffffff;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    clip-path: path("M 0,150 C 200,40 400,30 470,200 C 250,270 150,270 0,150 Z");
    width: 470px;
    height: 300px;
}

.animated-button svg {
    position: absolute;
    fill: #ffffff;
    width: 30px;
    height: 30px;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .increaseSvg {
    right: 80px;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #c90f0f;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    font-size: 0.8em;
}

.animated-button:hover .increaseSvg {
    right: -20%;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover .circle {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 20px 10px #ffffff;
    opacity: 1;
}

.inputContainer {
    gap: 10px;
    position: relative;
    top: -310px;
    left: 400px;
    display: inline-flex;
}

.inputContainer input {
    position: relative;
    top: -28px;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50px;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    z-index: 1;
}

.inputContainer label {
    border: 2px solid black;
    border-radius: 10px 20px;
    padding: 5px 10px;
    position: relative;
    background-color: white;
    color: black;
    top: -10px;
    left: -30px;
    z-index: 2;
}

.numberinputCircle {
    position: relative;
    display: block;
    top: 75px;
    left: 30px;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #c90f0f;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: -2;

}

.inputNumber:hover .numberinputCircle {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 20px 10px #ffffff;
    opacity: 1;
}

.inputNumber {
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50px;
    font-size: 1.2em;
    background-color: black;
    color: white;
    z-index: 10;

}

.inputNumber:nth-child(2) {
    position: relative;
    top: -40px;
}

.circleContainer {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50px;
    top: -130px;
    left: 0;
}

@media (max-width: 1199px) {
    .inputContainer {
        top: -230px;
        left: 100px;
    }
}

@media (max-width: 850px) {}

@media (max-width: 780px) {
    .buttonConteiner {
        top: -332px;
        left: 87px;
        transform: rotate(-20deg);
    }

    .buttonConteiner {
        top: -250px;
        left: 0px;
        transform: rotate(-20deg);
    }

    .animated-button .increaseSvg {
        right: 20px;
    }

    .animated-button {
        font-size: 24px;
        clip-path: path("M 0,75 C 100,20 200,15 235,100 C 125,135 75,135 0,75 Z");
        width: 235px;
        height: 150px;
    }

    .animated-button svg {

        width: 25px;
        height: 25px;
    }

    .animated-button:hover .circle {
        width: 100px;
        height: 100px;
    }

    .inputContainer {
        top: -300px;
        left: 50px;
    }

    .inputContainer input {
        width: 80px;
        height: 80px;
        font-size: 1.5em;
    }

    .inputNumber {
        width: 80px;
        height: 80px;
    }
}


@media (max-width: 480px) {
    .inputContainer {
        top: -300px;
        left: -10px;
    }

    .inputNumber {
        width: 60px;
        height: 60px;
    }

    .inputContainer input {
        width: 60px;
        height: 60px;
        font-size: 1em;
    }

    .inputContainer label {
        font-size: 0.6em;
    }
}

@media (max-width: 405px) {
    .inputContainer {
        top: -250px;
        left: 120px;
    }
}