.imgBackdrop {
  position: relative;
  top: -95px;
  height: 780px;
  background-image: var(--backdrop-img);
  background-position: center;
  background-size: cover;
  clip-path: path("M -50 500 C 100 800, 270 300, 450 650 C 500 500, 700 700, 850 600 L 850 100, 850 600 C 950 800, 1370 300, 1850 748 C 2100 400, 2300 1000, 3550 500 L 3550 0, 3550 0 L -50 0 Z");
}


.imgBackdropConteiner {
  position: relative;
  width: 100%;
  height: auto;
  filter: drop-shadow(-1px 6px 3px rgba(255, 255, 255, 0.685));
  z-index: -1;
}

.moviePoster {
  width: 400px;
  border-radius: 50px;
  border: 8px dashed white;
  margin: 110px 70px 0px;
  box-shadow: 0px 0px 70px rgba(255, 255, 255, 0.685);
}

.movieInofConteiner {
  height: 850px;
  background-color: rgba(0, 0, 0, 0.521);
  clip-path: path("M -50 750 C 100 880, 270 850, 450 800 C 800 900, 700 600, 850 800 L 850 100, 850 800 C 950 800, 1370 400, 1850 748 C 2100 400, 2300 1000, 3550 500 L 3550 100 C 3200 300, 2900 -100, 2600 200 C 2300 500, 2000 -50, 1700 150 C 1400 0, 1100 0, 800 80 C 500 150, 300 -150, -50 150 Z");
}

.headDetails {
  display: flex;
  align-items: center;
  gap: 100px;
}

.movieOverview {
  max-width: 900px;
  font-size: 1.8em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  position: relative;
  top: 80px;
  font-size: 4em;
  margin-left: 120px;
}

.rating {
  font-size: 1.2em;
  align-self: end;
}

.shadowContainer {
  position: relative;
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.493));
  z-index: -1;
}

.ganres {
  color: rgb(255, 0, 0);
}