header {
    overflow: visible;
    position: relative;
    height: 180px;
}

.headerContainer {
    filter: drop-shadow(-1px 6px 3px rgba(255, 255, 255, 0.767));
    display: flex;

}

.header-left {
    width: 50vw;
    height: 120px;
    background: linear-gradient(135deg, #b30b0b, #ffa3b2);
    clip-path: path("M 0 100 C 100 170, 220 20, 400 120 C 450 50, 650 150, 800 100 L 800 0, 800 100 C 900 170, 1320 20, 1800 120 C 2050 50, 650 150, 2500 100 L 2500 0, 2500 0 L 0 0 Z"
        );
}

.header-right {
    position: absolute;
    right: 0;
    top: -120px;
    width: 60vw;
    height: 160px;
    background: linear-gradient(135deg, #720be0, #3973d8);
    clip-path: path("M 0 0 C 60 20, 30 100, 100 150 C 200 200, 300 50, 1000 160 L 1000 160 C 1200 170, 1300 0, 2500 160 L 2500 0 L 0 0 Z"
        );
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-right img {
    width: 250px;
    margin: 40px 0 0 30px;
}

.header-left h1 {
    margin: 20px 40px;
    color: #213547;
}

@media (min-width: 1200px) {
    .header-left {
        width: 50vw;
        height: 120px;
    }

    .header-right {
        width: 60vw;
        height: 160px;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {}

@media (max-width: 950px) {


    .header-right img {
        width: 190px;
        margin: 40px 0 0 40px;
    }

    .header-left h1 {
        font-size: 2.5em;
        margin: 30px;
    }

    .header-right {
        justify-content: start;
    }
}

@media (max-width: 767px) {
    .header-left {
        width: 60%;
    }

    .header-right {
        clip-path: path("M 0 0 C 60 20, 30 100, 100 120 C 200 150, 100 50, 1000 100 L 1000 160 C 1200 170, 1300 0, 2500 160 L 2500 0 L 0 0 Z"
            );
    }

    .header-right img {
        width: 150px;
        margin: -10px 0 0 40px;
    }

    .header-left h1 {
        font-size: 1.5em;
        margin: 40px;
    }
}

@media (max-width: 480px) {

    .header-right img {
        width: 120px;
    }

    .header-right {
        width: 230px;
    }
}